body {
    font-family: 'Assistant';
    font-size: 16px;

}

h2 {
    font-family: 'Amatic SC';
    color: darkcyan;
    text-align: center;
}

h1 {
    color: brown;
    text-align: center;
}

p2 {
    color: darkolivegreen;
    font-family: 'Amatic SC';
    font-size: 30px;
    font-style: italic;
}

img {
    max-width: 100%;
    width: auto;
    height: auto;
}

.container {
    max-width: 800px;
    margin: auto;
}

.cta {
    background-color: burlywood;
    text-align: center;
    padding: 15px;
    padding-top: 10px;
    margin-top: 15px;
    font-size: 20px;

}

 .a {
    background: #08c;
  color: #fff;
  text-decoration: none;
  padding: 14px;
     margin-top: 10px;
     margin-bottom: 30 px;
  display: inline-block;  
}

a {
  color: brown  
}

.hala {
     float: left;
  margin-right: 10px;

}

a {
    font-size: 20px;
}
